.App {
  text-align: center;
  height: 400px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color:lightblue;
  height: auto;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.footer{
  bottom: 0px;
  background-color: lightblue;
  color: black;
}
nav{
  background: #35bdd4 !important;
}
.appointment{
  margin-left: 500px;
  margin-top: -450px;
  background: white !important;
  border: 1px solid white !important;
  height: 80px !important;
   width: 260px !important;
   color: #35bdd4 !important;
   font-size: 20px !important;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
